- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions) if content_for?(:header_actions)

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  = yield

= render template: "layouts/spina/admin/admin"
