- content_for :header_actions do
  %span
    = link_to spina.new_admin_blog_category_path, class: 'button button-primary', style: 'margin-right: 0' do
      = icon 'plus'
      = t 'spina.blog.categories.new'



.table-container
  %table.table
    %thead
      %tr
        %th Category name
        %th

    %tbody
      - if @categories.any?
        = render partial: 'category', collection: @categories, as: :category

      - else
        %tr
          %td.align-center{colspan: 2}
            %em There are no categories yet. Create your first one!
