<%= render Spina::Forms::GroupComponent.new(label: Spina::Blog::Post.human_attribute_name(:seo_title), description: Spina::Blog::Post.human_attribute_name(:description)) do %>
  <%= render Spina::Forms::TextFieldComponent.new(f, :seo_title) %>
  
  <div class="mt-5">
    <%= render Spina::Forms::TextFieldComponent.new(f, :description) %>
  </div>
<% end %>