- content_for :header_actions do
  %span
    = link_to spina.new_admin_blog_post_path, class: 'button button-primary', style: 'margin-right: 0' do
      = icon_spina 'plus'
      = t 'spina.blog.posts.new'



.table-container
  %table.table
    %thead
      %tr
        %th Post Title
        %th

    %tbody
      - if @posts.any?
        = render partial: 'post', collection: @posts, as: :post

      - else
        %tr
          %td.align-center{colspan: 2}
            %em There are no posts yet. Create your first one!
